.navbar{
    background-color: rgb(255, 193, 5);
}

.welcome{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
}

video{
    background: #000;
    z-index: -1;
    position: absolute;
    background-attachment: fixed;
    width:100%;
    height:100%;
    object-fit: cover;
}

.welcome-txt{
    color: rgb(232, 230, 227);
    width: 1100px;
    font-family: 'Raleway';
}

.welcome-heading{
    font-weight: 700;
    padding: 10px 0px; 
    font-size: clamp(30px, 6vw, 48px);
}

.welcome-para{
    font-size: clamp(15px, 3vw, 24px);
    font-weight: 300;
    text-align: justify;
    padding-bottom: 20px;
}

.welcome-btn{
    width:150px;
    height: 40px;
    background: transparent;
    color: white;
    border: 2px solid rgb(48, 52, 54);
    font-size: 14px;
    border-radius: 3px;
}

.containers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 1100px;
    font-style: italic;
}

.heading{
    font-weight: 600;
}

.about-txt p{
    font-size: 14px;
}

.services{
    width: 1100px;
}

.services h2{
    font-weight: 600;
}

.line{
    width: 10vh;
    height: 7px;
    background-color: rgb(255, 193, 5);
    margin-bottom: 10px;
}

.service-card-row{
    display: flex;
    flex-wrap: wrap;
}

.service-card-container{
    padding: 10px;
}

.service-card{
    display: flex;
    align-items: center;
    height: 100%;
    background: url('https://gems.peralta.edu/hubfs/unarmed%20security%20guard%20AdobeStock_297026455.jpeg#keepProtocol');
    background-size: 100% 100%;
    border-radius: 5px;
}

.service-card p{
    opacity: 0;
}

.service-card-txt-cont{
    padding: 10px;  
    height: 100%;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.service-card-text{
    color: white;
    transition: all 1s;
}

.service-card-txt-cont:hover{
    background: rgba(0, 0, 0, 0.5);
}

.service-card:hover .service-card-text{
    opacity: 1;
}

.map iframe{
    width: 600px;
    height: 450px;
}

.contact-us-cards{
    height: 200px;
    background-color: white;
    border: 2px solid rgb(255, 193, 5);
    border-radius: 5px;
    transition: all 1s;
}

.contact-us-cards:hover{
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .contact-us{
        width: 100%;
    }

    .contactus-cont1{
        padding: 0px 0px;
    }
}

.rev-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max(30%, 375px);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.rev{
    border-radius: 10px;
    background: rgba(255, 193, 5, 0.2);
}

.rev-container::-webkit-scrollbar{
    display: none;
}